:root {
    /* --bug-bg: 56,145,76;
    --dark-bg: 87,86,118;
    --dragon-bg: 97,202,217;
    --electric-bg: 251,251,114;
    --fairy-bg: 234,19,105;
    --fighting-bg: 239,97,56;
    --fire-bg: 253,76,90;
    --flying-bg: 147,178,199;
    --ghost-bg: 144,103,144;
    --grass-bg: 39,203,79;
    --ground-bg: 110,73,31;
    --ice-bg: 215,239,250;
    --normal-bg: 201,152,167;
    --poison-bg: 155,105,217;
    --psychic-bg: 248,28,145;
    --rock-bg: 139,62,33;
    --steel-bg: 66,189,148;
    --water-bg: 134,168,252; */

    --bug-bg: hsl(133, 44%, 59%);
    --dark-bg: hsl(242, 16%, 50%);
    --dragon-bg: hsl(188, 61%, 72%);
    --electric-bg: hsl(60, 94%, 82%);
    --fairy-bg: hsl(336, 85%, 60%);
    --fighting-bg: hsl(13, 85%, 68%);
    --fire-bg: hsl(355, 98%, 75%);
    --flying-bg: hsl(204, 32%, 78%);
    --ghost-bg: hsl(300, 17%, 58%);
    --grass-bg: hsl(135, 68%, 57%);
    --ground-bg: hsl(32, 56%, 38%);
    --ice-bg: hsl(199, 78%, 91%);
    --normal-bg: hsl(342, 31%, 79%);
    --poison-bg: hsl(267, 60%, 73%);
    --psychic-bg: hsl(328, 94%, 64%);
    --rock-bg: hsl(16, 62%, 44%);
    --steel-bg: hsl(160, 48%, 60%);
    --water-bg: hsl(223, 95%, 86%);

    --bug-bd: #1C4B27;
    --dark-bd: #040706;
    --dragon-bd: #448B95;
    --electric-bd: #E3E328;
    --fairy-bd: #961843;
    --fighting-bd: #993E24;
    --fire-bd: #AB1F23;
    --flying-bd: #4A677D;
    --ghost-bd: #33336B;
    --grass-bd: #127B3D;
    --ground-bd: #6E491F/*#A9702C*/;
    --ice-bd: #86D2F5;
    --normal-bd: #75515B;
    --poison-bd: #5E2D88;
    --psychic-bd: #A22B6B;
    --rock-bd: #481907;
    --steel-bd: #5F756D;
    --water-bd: #1552E2;

    --opacity: 0.7;
    --border-size: 3px;
}

.bug-box {
    background-color: var(--bug-bg);
    border: solid var(--border-size) var(--bug-bd);
}
.bug-badge {
    background-color: var(--bug-bd);
}

.dark-box {
    background-color: var(--dark-bg);
    border: solid var(--border-size) var(--dark-bd);
}
.dark-badge {
    background-color: var(--dark-bd);
}

.dragon-box {
    background-color: var(--dragon-bg);
    border: solid var(--border-size) var(--dragon-bd);
}
.dragon-badge {
    background-color: var(--dragon-bd);
}

.electric-box {
    /* background-color: rgba(var(--electric-bg), var(--opacity)); */
    background-color: var(--electric-bg);
    border: solid var(--border-size) var(--electric-bd);
    color: black;
}
.electric-badge {
    /* background-color: rgb(var(--electric-bg)); */
    background-color: var(--electric-bd);
}

.fairy-box {
    background-color: var(--fairy-bg);
    border: solid var(--border-size) var(--fairy-bd);
}
.fairy-badge {
    background-color: var(--fairy-bd);
}

.fighting-box {
    background-color: var(--fighting-bg);
    border: solid var(--border-size) var(--fighting-bd);
}
.fighting-badge {
    background-color: var(--fighting-bd);
}

.fire-box {
    background-color: var(--fire-bg);
    border: solid var(--border-size) var(--fire-bd);
}
.fire-badge {
    background-color: var(--fire-bd);
}

.flying-box {
    background-color: var(--flying-bg);
    border: solid var(--border-size) var(--flying-bd);
}
.flying-badge {
    background-color: var(--flying-bd);
}

.ghost-box {
    background-color: var(--ghost-bg);
    border: solid var(--border-size) var(--ghost-bd);
}
.ghost-badge {
    background-color: var(--ghost-bd);
}

.grass-box {
    background-color: var(--grass-bg);
    border: solid var(--border-size) var(--grass-bd);
}
.grass-badge {
    background-color: var(--grass-bd);
}

.ground-box {
    background-color: var(--ground-bg);
    border: solid var(--border-size) var(--ground-bd);
}
.ground-badge {
    background-color: var(--ground-bd);
}

.ice-box {
    /* background-color: rgba(var(--ice-bg), var(--opacity)); */
    background-color: var(--ice-bg);
    border: solid var(--border-size) var(--ice-bd);
    color: black;
}
.ice-badge {
    /* background-color: rgb(var(--ice-bg)); */
    background-color: var(--ice-bd);
}

.normal-box {
    background-color: var(--normal-bg);
    border: solid var(--border-size) var(--normal-bd);
}
.normal-badge {
    background-color: var(--normal-bd);
}

.poison-box {
    background-color: var(--poison-bg);
    border: solid var(--border-size) var(--poison-bd);
}
.poison-badge {
    background-color: var(--poison-bd);
}

.psychic-box {
    background-color: var(--psychic-bg);
    border: solid var(--border-size) var(--psychic-bd);
}
.psychic-badge {
    background-color: var(--psychic-bd);
}

.rock-box {
    background-color: var(--rock-bg);
    border: solid var(--border-size) var(--rock-bd);
}
.rock-badge {
    background-color: var(--rock-bd);
}

.steel-box {
    background-color: var(--steel-bg);
    border: solid var(--border-size) var(--steel-bd);
}
.steel-badge {
    background-color: var(--steel-bd);
}

.water-box {
    background-color: var(--water-bg);
    border: solid var(--border-size) var(--water-bd);
}
.water-badge {
    background-color: var(--water-bd);
}